.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 54px;
}

.friends2 {
  position: relative;
  width: 100%;
}

.img_text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img_text2 h4 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  color: var(--white);
}

.img_text2 p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white);
}
.question_container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  gap: 2%;
  margin: 20px auto;
  border-bottom: 1px solid var(--gray-100);
}
.all_content{
  padding: 120px 72px;
  width: 100%;
}
.h5_p{
  width: 100%;
  margin-left: 5%;
  margin-top: 10px;
}

.all_content h6 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--violet);
}

.all_content h5 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: var(--gray-900);
  padding-bottom: 24px;
  width: 100%;
}

.all_content button {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 50%;
  background-color: var(--gray-100);
  color: var(--white);
  border: 1px solid var(--gray-100);
  cursor: pointer;
}

.all_content button:hover {
  background-color: var(--violet);
}